.App {
  font-family: 'Inter', 'Red Hat Display', sans-serif;
  text-align: center;
  min-width: 1000px;
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: white;
}
